/**** CSS main style sheet disaster zone MDDN352 P1 [2016] (300317288)****/

/***** INDEX STYLE *****/
/**** FONT-SIZE-STYLE ****/

@import url(https://fonts.googleapis.com/css?family=Lato:300);

/*** HEADER ***/
/*+ TEXT SIZE +*/

html {
    font-family: 'lato';
}

h1 {
    font-family: 'lato';
    font-size: 5em;
    color: #f9f9f9;
    margin-bottom: 0.0500em;
    
}



h2 {
    font-family: 'Lato';
    font-size: 3.2em;
    color: #f9f9f9;
    text-align: center;
    /*      T  R B L  */
    padding: 1% 0 1% 0;
}



/* SUBHEADER EACH PAGE */
h3 {
    font-family: 'Lato';
    font-size: 2em;
    color: #378048;
    text-align: left;
    margin: 0.2% 0 0.2% 0;
    /**/
}



/* ALERT FROM TITLE */
h6 {
    font-family: 'Lato';
}

/** ICONS PAGE#2 **/
h4 {
    font-family: 'Lato';
    font-weight:bold;
    font-size: 1.5em;
    color: #f9f9f9;
    text-align:center;
}

/* DISASTER TYPES DISASTER NAMES TABLE */
h5 {
    font-family: 'Lato';
    font-size: 1.3em;
    color: #1f1b1a;
    text-align: center;
}


/** PARAGRAPH **/
p {
    font-family: 'Lato';
    color: #201c1c; /* off black*/
    font-size: 1.2em;
    text-align: left;
    /**/
    margin-left: 0.250em;
}

/*+ TEXT SIZE END +*/


/**= LIST STYLE =**/

/* SEVERITY SCALE */
ol {
    color: #1f1b1a;
    font-size: 1.2em;
    text-align: left;
    /**/
}

    ol li {
        margin-bottom: 1em;
    }


/* API LI EDIT */
.apiLu {
    font-size: 1.2em;
    color: #201c1b;
    text-align: left;
    list-style: none;
    line-height: 0.590em;
    /**/
    
}

.techFLu {
    font-size: 1.2em;
    color: #201c1b;
    text-align: left;
    list-style: none;
    /**/
    line-height: 1.44em;
}


ul {
    padding: 0; /* to offset random +40 padding*/
    color: #f9f9f9;
    list-style: none;
}

/* ALERT TYLES LIST STYLE */
#slide4 ul li {
    text-align: left;
    font-size: 1.1em;
    margin-left: 0.250em;
    color: #f9f9f9;
}



/**** FONT-SIZE-STYLE-END ****/

/***** BODY *****/
body {
    /*
    border: 2px solid blue; */
}



/***** BODY END *****/

/***** HEADER *****/
header {
    /*
    border: 2px solid orange; */
}



/*** HEADER FINISH ***/
/* HTML */
html {
    /* 
    border: 2px solid red; */
}

/***** ARTICLE *****/
article {
    
    /* 
    border: 2px solid green; */
}

/****&& DIVS &&****/

/**& CLASS &**/
.slideHeader {
    width: 100%;
    /*
    border: 1px solid #c918fc;*/
}

.disasterTypesContain {
    height: 70px;
    overflow: hidden;
    /*
    border: 1px dashed white; */
}

/* & ID & */
#content {
    background:#f9f9f9;
    overflow:hidden;
}

/* AUDIO */
#BGAudio{

}

/*== ID SLIDES ==*/

#about {
    background-color: #365c80;
    /* */
}

#reportedDisasters {
    background-color: #365c80;
    /**/
}

#severityScale {
    background-color: #365c80;
    /**/
}

#reportSystems {
    background-color: #365c80;
    /**/

}

#pScope {
    background-color: #365c80;
    /**/
}

#wOutcome {
    background-color: #365c80;
    /**/
}

#geoLocation {
    
    background-color: #365c80;
    /**/

}

#cameraAccess{

    background-color: #365c80;
    /**/
    
}

#cameraItems {
    
    /* 
    border:2px solid green;*/
}


#cameraItems2 {
    /* 
    border:2px solid orange; */
}
/* INPUT STYLE */
/* TEXT */
input[type = "file"] {
    color:#183052;
}




/* BUTTON */



/* INPUT STYLE END */
/* GEO LOCATION GOOGLE API */
#mapAddress {
    color:#1f1b1a;
    margin-top:1%;
    margin-left:1%;

    /*
    border:2px solid #edff05;*/
}

#errorCantFind{
    color:#1f1b1a;
    margin-top:1%;
    margin-left:1%;
    /*
    border:2px solid #104cdc;*/
}

/* GEO LOCATION GOOGLE API END */

#footerDiv {
    margin-top:-20px;
     background-color: #183052;
     height:7em;
     overflow:hidden;
        
    /**/
}

#footerDiv p {
    font-size:1.1em;
    color:#f9f9f9;
    padding-left:1%;
    padding-top:2%;
    /* */
}
/*== ID SLIDES END ==*/

/*== ID  ALERT TYPES ==*/
#smsBG {
    background-color: #365c80;
    /**/
}

#emailBG {
    background-color: #365c80;
    /**/
}

#pushBG {
    background-color: #365c80;
    /**/
}
/*== ID  ALERT TYPES END ==*/


/* DISASTER TYPES*/
#iconAlign {

    /**/
    background-color: green;
}

.navClick {

}



/****&& DIVS END &&****/

/*===== GOOGLE MAPS API =====*/


/***  FRAMEWORK EDIT  COOL KITTEN ***/

/** NAV **/
/*=+ CLASS +=*/
.menu {
    /*
    border: 1px solid green; */
}

.container {
    /*
    border: 1px solid orange;*/
}

.clearfix {
    /*
    border: 1px dotted #808080;*/
}

.grid_12 {
    /*
    border: 1px solid #eae612;*/
}

.grid_1 {
    /*
    border: 1px solid white; */
}

.grid_2 {
    /*
    border: 1px solid white;*/
}

/*= ID =*/
#nav {
    /*
    border: 2px solid #201c1b; */
}


/** NAV END **/

/*+ PAGE 1 +*/
/* ID */
#slide1 {
    /*
    border: 1px dotted #b200ff;*/
}

/* VIDEO BACKGROUND */

#slide1BGVideo {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -99;
    /*
    border:2px solid white;*/

}

.fullscreenVideo {
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreenVideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreenVideo {
    width: auto;
    height: 100%;
  }
}
/* CLASS */

/*++ PAGE 2++*/
/* ID */
#slide2 {
    /* 
    border: 1px dotted #0fd1a2; */
}

/* CLASS */



/***  FRAMEWORK EDIT  COOL KITTEN END***/
/*= NAV =*/
/* ADDING AND REMOVING CONTENT DEPENDING ON SCREEN SIZE */

/*= NAV CONTENT END =*/

/* PAGE 3 TABLE */
table {
    width:100%;
    height:auto;
    display:table;
    /*
    border: 2px solid white;*/
}


tr {
    /**/
    background-color:#c5d7ed;
}

tr:first-child {
    /**/
    background-color:#375d81;
}

/* API A LINK */
.apiLu a:link {
    color: #1f1b1a;
}

.apiLu a:hover {
    color: #f8af22;
}
.apiLu a:visited {
    color: #378048;
}




          
/***** ARTICLE END *****/

/***** FOOTER *****/





/* MANY CSS MUCH CODE */
