/*===== MAIN CSS =====*/

body {
    
    font-weight: 400;
    font-size: 1em;
    color: #f9f9f9;
    
}

a:link {
    color: #f68f67;
    text-decoration: none;
}

a:hover {
    color: #bde2df;
    text-decoration: none;
}



#hamburgerContain {
    height:auto;

}

/* HIDE ELEMENTS */
.hidden {
    display:none;
}

/* DISASTER ICONS */
.iconTypes {
    height: 6em;

}

/* REPORTED DISASTERS TABEL */
td {
    /**/
    border:0.6em solid #f9f9f9;
}

/* MAKES CONCEPT PAGE 2 INLINE WITH PAGE 1*/
#aboutConcept {
    padding-top: 2.4em;
}

#googleAPI {
    height:51em;
    width:auto;
    overflow:hidden;
    /*
    border:1px solid green;*/
} 

#cameraItems h3 {
    padding-left:10%;
    /* */

}

#cameraItems input{
    padding-left:10%;
    

}

/*===== MAIN CSS END =====*/



/*===== NAV DESKTOP =====*/

.menu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
    /*      T    R  B   L*/
    padding: 0.5% 0 0.5% 0;
    background-color: #183052;
    -webkit-box-shadow: 3px 3px 41px 2px rgba(0,0,0,0.27);
    -moz-box-shadow: 3px 3px 41px 2px rgba(0,0,0,0.27);
    box-shadow: 3px 3px 41px 2px rgba(0,0,0,0.27);
    z-index: 100;
    color: #f9f9f9;
}

#nav {
    width: 100%;
    height: auto;
    margin:auto;
}



.navigation li {
    font-family: 'Lato';
    padding-left:5%;
    font-size: 1.5em;

    display: inline-block;
    list-style: none;
    margin:auto;
    /*line-height:200px;*/
}



.navigation li:hover {
        cursor: pointer;
        color: #378048;
    }

.navigation ul {
    margin:auto;
}

.navigation .active {
    cursor: pointer;
    color: #c5d7ed;
    
}

/*===== NAV DESKTOP END =====*/

/***+++ NAV TABLET OR PHONE +++****/
    #navHome li:nth-child(2) {
    }

    #navAbout {
        
    }

    #navDisaster li:nth-child(2) {
        display: none;
    }

    #navSystems li:nth-child(2) {
        display: none;
    }

    #navScope li:nth-child(2) {
        display: none;
    }

/* HAMBURGER ICON */
#navIcon {
    height:2em;
    width:auto;
    padding-left:2%;
    display:none;
    
}


/***+++ NAV TABLET OR PHONE END +++****/


/*===== SLIDES =====*/

.slide {
    background-attachment: fixed;
    width: 100%;
    height: auto; /* TEMP SETTING CHANGE LATER [Auto]*/
    position: relative;
    /* T    L B R */
    padding: 10% 0 15% 0;
}



/* Slide 1 */

#slide1 {

    height: auto;
}
#underlineH1 {
    width:70%;
    margin:auto;
    overflow:visible;    
    border-bottom: 0.188em double   #378048;
    
    /*
    box-shadow:0.188em 0.188em 0.188em 0.188em rgba(0, 0, 0, 0.77); */
}
    #slide1 h1 {
        margin-top: 15%;
        text-align: center;
        position:relative;        
        
        /* FOR CHROME */
        text-shadow:5px 5px 7px rgba(0, 0, 0, 0.77);


        
    }

    #slide1 h2 {
        padding-bottom: 2%;
        text-align: center;
        margin-bottom: 25%;

        text-shadow:5px 5px 7px rgba(0, 0, 0, 0.77);
        /*
        text-decoration:underline;
        text-decoration-color:#378048;  */
    }

#content h3 {
        margin-left: 0.5%;
    }

/* Slide 2 */

#slide2 {
    background-color: #eaebff;
    height: auto; /* CANGE TO EM*/
}

/* Slide 3 */

#slide3 {
    background-color: #c5d7ed;
    height: auto;
}


#slide3 h2 {
        /*font-size: 3em;*/
        text-align: center;
    }

/* Slide 4 */

#slide4 {
    background-color: #aac8e2;
    height: auto;
}

#slide4 h2 {
    }

/* Slide 5 */

#slide5 {
    background-color: #eaebff;
    height: auto;
}

#slide5 h2 {
        /*font-size: 3em;*/
        text-align: center;
}


/*===== SLIDES END =====*/

/**++++++ MEDIA QUERY ++++++**/
/*====== DESKTOP ======*/
@media screen and (min-width: 1345px) {
.hidden {
    display:initial;
}

#navIcon {
        display: none;
}

}

/*===== TABLET =====*/
@media screen and (max-width: 1344px) {

    .navigation li {
        font-size: 1.3em;
    }

   #content {
        width: 100%;
        /*text-align:center;*/
    }

   #content p {
            font-size: 1.1em;
            line-height: 1.5em; /* SETS LINE GAP BETWEEN P ELEMENTS*/
        }

    /* SLIDE 1 */
    #slide1 h1 {
        margin-top: 35%;
        font-size: 3.3em;
    }

    #slide1 h2 {
        font-size: 1.5em;
    }

    /* SLIDE 2 */
    #content h2 {
        font-size: 2.5em;
    }

    #content h3 {
        font-size: 1.6em;
        padding-top: 2%;
        
    }

    ol li {
        font-size: 0.9em;
    }

    ul li {
        font-size: 0.9em;
    }

    /* SLIDE 3 */

    #slide3 h2 {
        font-size: 2.5em;
    }



    #slide3 h5 {
        font-size: 1.3em;
    }

    /* SLIDE 4 */
    #slide4 h2 {
        font-size: 2.5em;
    }



    /* SLIDE 5 */
    #slide5 h2 {
        font-size: 2.5em;
    }

    /* HIDE NAV FIRST ELEMENT */
    #navDisaster li:nth-child(1) {
        display:none;
        
    }

    #navSystems li:nth-child(1) {
        display:none;
    }

    #navScope li:nth-child(1) {
        display:none;
    }

    /* SHOW NAV SECOND ELEMENT */
        #navDisaster li:nth-child(2) {
        display:initial;
        
    }

    #navSystems li:nth-child(2) {
        display:initial;
    }

    #navScope li:nth-child(2) {
        display:initial;
    }

    #navIcon {
        display: none;
    }
    .hidden {
        display: initial;
    }

    td {
    /**/
    border:0.4em solid #f9f9f9;
   }

#googleAPI {
    height:41em;
    
}


}




/*===== MOBILE =====*/
@media screen and (max-width: 640px) {

    /* NAV FONT SIZE*/


    .navigation li {
        font-size: 1em;
        /**/
    }

   


 #content p {
            font-size: 0.9em;
            line-height: 1.5em; /* SETS LINE GAP BETWEEN P ELEMENTS*/
        }

.grid_12 p {
            font-size: 0.9em;
            line-height: 1.5em; /* SETS LINE GAP BETWEEN P ELEMENTS*/
        }
/* SLIDE 1*/

  #slide1 h1 {
      margin-top: 35%;
        font-size: 2.4em;
    }

   #slide1 h2 {
    font-family: 'Lato';
    font-size: 1.4em;
    color: #f9f9f9;
}

       /* SLIDE 2 */
    #content h2 {
        font-size: 1.5em;
    }

    #content h3 {
        font-size: 1.2em;
        padding-top: 2%;
    }

    ol li {
        font-size: 0.75em;
    }

    ul li {
        font-size: 0.75em;
    }

    /* SLIDE 3 */

    #slide3 h2 {
        font-size: 1.5em;
    }


    #slide3 h4 {
        font-size: 1.1em;
    }
    
    #slide3 h5 {
        font-size: 1em;
    }

    /* SLIDE 4 */
    #slide4 h2 {
        font-size: 1.5em;
    }
    

    /* SLIDE 5 */
    #slide5 h2 {
        font-size:1.5em;
    }


    /* NAV BAR ICON */
    #navIcon {
        display: initial;
        /*
        border:1px solid white;*/
    }
    /* DISASTER ICONS */
    .iconTypes {
        height:4em;
    }

    /* HIDDEN ID */
        .hidden {
        display: none;
    }

    td {
        /**/
        border: 0.2em solid #f9f9f9;
    }

        /* DISABLED VIDEO */
#slide1BGVideo { 
    background-image: url(./media/img/slide1StaticImg.png); /* CANT GET TO WORK WITH LOCAL*/
    background-image: url(http://i.imgur.com/eOHlQel.png); 
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
}

.fullscreenVideo {
    display:none;
}

#aboutConcept {
    padding-top:0;
    
}
#olSeverityScale2 {

}

#olSeverityScale2 ol {
    padding-top:0;
    margin-top:0;

}

#googleAPI {
    height:31em;
    
}

#cameraItems h3 {
    padding-left:2%;

}

#cameraItems input{
    padding-left:2%;
    

}



#cameraItems2 h3 {
     padding-left:2%;
    /* */

}


#cameraItems2 input {
    padding-left:2%;
    /* */

}

}

/**++++++ MEDIA QUERY END ++++++**/
